@import '../../../util/scss/variables';

.bountyProposal__title {
    margin-top: .5em;
    color: $link-text-color-darkened;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: underline;
}

.button--createBounty {
    width: 200px;
}