@import '../../../util/scss/variables';

.bountyProposal__title {
    margin-top: .5em;
    color: $link-text-color-darkened;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: underline;
}

.button--createBounty {
    width: 200px;
}

.button--proposals {
    width: 200px;
}

.createProposal__input {
    position: relative;
    transform: translateY(15%);
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto;
    justify-items: center;
}
  
.createProposal__inputfield {
    padding: 0.7em;
    background-color: $navbar-hover-color;
    border: 2px solid rgba($color: $border-color, $alpha: 0.3);
}

.createProposal__label--address {
    grid-column: 2;
    grid-row: 1;
    color: $link-text-color;
    font-size: 1.4rem;
    font-weight: 500;
}

.createProposal__inputfield--address {
    margin-top: 10px;
    margin-bottom: 20px;
    grid-column: 2;
    grid-row: 2;
    width: 25.3%;
}