@import './variables';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans Unicode', Arial;
  font-weight: 400;
  margin-top: 55px;
  background-color: $navbar-hover-color;
}

.separator {
  color: $navbar-background-color;
}

.button {
    all: unset;
    display: inline-block;
    margin-top: 25px;
    margin-right: 0.5em;
    margin-bottom: 25px;
    margin-left: 0.5em;
    padding: .5em 1.25em;
    width: 70px;
    cursor: pointer;
    background: $navbar-background-color;
    color: $link-text-color-darkened;
    border: 1px solid rgba($color: $border-color, $alpha: 0.3);
    border-radius: 2px;
    box-shadow: 0 0px 12px -6px rgba($color: #000000, $alpha: 0.3);
    font-weight: 600;
}