@import '../../util/scss/variables';
.nav-left {
	position: fixed;
	display: block;
	bottom: 0;
	width: $sidebar-width;
	height: calc(100% - 47px);
	background-color: $background-color-inactive;
	border-right: $border-width solid $border-color-navbar;

	&[aria-expanded='true'] {
		left: 0;
		transition: left 0.4s ease-in;
	}
	&[aria-expanded='false'] {
		left: $sidebar-width * (-1.1);
		transition: left 0.4s ease-out;
	}
}

ul {
	list-style: none;
	margin: 0;
	position: fixed;
	padding-top: 2 * $standard-padding;
	padding-left: 0px;
}

li.title {
	padding-bottom: 2 * $standard-padding;
	border-bottom: $border-width solid $border-color-navbar;
}

li.link {
	:hover {
		background-color: $background-color-hover;
	}
	width: $sidebar-width;
	margin-bottom: 2 * $standard-margin;
}

.router-link {
	display: block;
	color: $link-text-color;
	text-align: center;
	padding: 2 * $standard-padding;
	text-decoration: none;
}
