@import '../../util/constants/variables';

.navbar {
  background-color: $navbar-background-color;
  border-bottom: $border-width solid $border-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
}

.navbar__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar__menu-logo-image {
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1em;
  margin-right: 1em;
  height: 34px;
}

.navbar__menu-left {
  float: left;
  height: 44px;
  line-height: 44px;
  white-space: nowrap;
  font-size: 1.2rem;
}

.navbar__menu-right {
  float: right;
  margin-right: 1em;
  height: 44px;
  line-height: 44px;
  white-space: nowrap;
  font-size: 1.2rem;
}

.navbar__menu-title {
  margin-right: 2em;
  font-weight: 800;
}

.navbar__menu-title-first {
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: $link-text-color;
}

.navbar__menu-title-second {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.7rem;
  color: $link-text-color-darkened;
}

.navbar__menu-left-link {
  text-decoration: none;
  text-transform: uppercase;
  color: $link-text-color;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}

.navbar__menu-left-link:hover {
  background-color: $navbar-hover-color;
}

.navbar__menu-right-auth {
  text-decoration: none;
  cursor: pointer;
  color: $link-text-color;
  margin-left: 1em;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}

.navbar__menu-right-auth:hover {
  background-color: $navbar-hover-color;
}

.navbar__menu-right-network {
  font-weight: 500;
}

.navbar__menu-right-metamask-active {
  color: green;
}

.navbar__menu-right-metamask-inactive {
  color: red;
}
