@font-face {
  font-family: 'komodo-icons';
  src:  url('fonts/komodo-icons.eot?fgibah');
  src:  url('fonts/komodo-icons.eot?fgibah#iefix') format('embedded-opentype'),
    url('fonts/komodo-icons.ttf?fgibah') format('truetype'),
    url('fonts/komodo-icons.woff?fgibah') format('woff'),
    url('fonts/komodo-icons.svg?fgibah#komodo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="komodo-"], [class*=" komodo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'komodo-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.komodo-discord:before {
  content: "\e900";
  color: #7289da;
}
.komodo-telegram:before {
  content: "\ea95";
}
.komodo-reddit:before {
  content: "\eac6";
}
